.quote-container {
    margin-top: 60px;
    margin-left: 80px;
    /* width: 95%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 15px;

    /* box-shadow: 2px 2px 6px rgba(75, 40, 215, 0.41),  -2px -2px 6px rgba(75, 40, 215, 0.41); */
}


