/* .cardContainer2 {
    margin-top: 100px;
    margin: auto;
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}
.card2 {
    margin-top: 15px;
    width: 90%;
    height: 40px;
    background-color: rgb(251, 251, 154);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} */


.cardContainer2 {
    margin-top: 50px;
    margin: auto;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 6px;
    /* background-color: brown; */

}
.card2 {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: rgb(251, 251, 154);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info{
    width: 30%;
    text-align: center;
}

.dugm{
    width: 150px;
    margin-top: 5px;
}